@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;1,700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primario: #121a1d;
  --color-primario-texto: #fff;
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Barlow", sans-serif;
}
h2 {
  font-weight: 900;
  font-style: italic;
  font-size: 120px;
}
h3 {
  font-weight: 900;
  font-style: italic;
  font-size: 90px;
}
h4 {
  font-weight: 600;
  font-style: italic;
  font-size: 25px;
}

body {
  background-color: var(--color-primario);
  color: var(--color-primario-texto);
}
.row2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row1-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  color: white;
  background-color: #121a1d;
  border-radius: 20px;
  padding: 25px;
  margin: 20px;
  border: 0.5px solid white;
}
.box p {
  font-size: 20px !important;
}

.box-down {
  position: relative;
  top: 160px;
}
.box {
  width: 25%;
}

.hero-section {
  display: flex !important;
  justify-content: center !important;
  padding: 50px 100px;
}

.card-grid {
  padding: 25px;
  display: grid !important;
  grid-template-columns: repeat(1, 10fr) !important;
  grid-column-gap: var(--spacing-l) !important;
  grid-row-gap: var(--spacing-l) !important;
  max-width: var(--width-container) !important;
  width: 100% !important;
}

.card {
  position: relative !important;
}

.card:before {
  content: "" !important;
  display: block !important;
  padding-bottom: 150% !important;
  width: 100% !important;
}

.card__background {
  background-size: cover !important;
  background-position: center !important;
  border-radius: var(--spacing-l) !important;
  bottom: 0 !important;
  filter: brightness(0.75) saturate(1.2) contrast(0.85) !important;
  left: 0 !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  transform-origin: center !important;
  transition: filter 200ms linear, transform 200ms linear !important;
}
.card__background .card__content:hover p {
  transition: filter 200ms linear, transform 200ms linear !important;
  opacity: 0;
}

.card:hover .card__background {
  filter: brightness(1) saturate(1.2) contrast(1) !important;
  transform: scale(1.05) translateZ(0) !important;
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(2.2) blur(20px) !important;
}

.card__content {
  text-align: initial !important;
  left: 0 !important;
  padding: var(--spacing-l) !important;
  position: absolute !important;
  top: 0 !important;
  transition-duration: 0.4s;
}

.card__category {
  color: var(--text-light) !important;
  font-size: 0.9rem !important;
  margin-bottom: var(--spacing-s) !important;
  text-transform: uppercase !important;
}

.card__heading {
  color: var(--text-lighter) !important;
  font-size: 1.3em !important;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2) !important;
  line-height: 1.4 !important;
}

.card:hover .card__content {
  opacity: 0;
  transition-duration: 0.4s;
}

.palmares .hero-section {
  padding: 50px 50px !important;
}

@media (max-width: 1000px) {
  h2 {
    font-weight: 900;
    font-style: italic;
    font-size: 64px;
  }
  .row2-container {
    display: block;
  }
  .row1-container {
    display: block;
  }
  .box-down {
    top: auto;
  }
  .box {
    width: auto;
  }
  .hero-section {
    display: block !important;
    padding: 10px 20px !important;
  }
}
